body
	text-align: center
	background: url(../img/abshd.jpg) no-repeat
	
h4
	font-weight: bold
	font-size: 16px

h2
	font-weight: bold

#list 
  text-align: center
  border: 1px solid #ccc
  width: 180px
  overflow: auto
  height: 300px
  position: relative
  font-size: 14px
  line-height: 1.4
  margin: 0 auto
  border-radius: 5px
  box-shadow: 0px 0px 15px #ccc
  
#list ul 
  list-style-type: none
  
#list li 
  margin-left: -40px
  
#list a 
  text-decoration: none
  display: block
  color: #000
  
#mover 
  position: absolute
  width: 100%
  padding-top: 0px
  height: 360px
  
#list .hover 
  font-weight: bold
  color: #B90000

#content
	padding: 10px

#form1
	position: absolute
	top: 0px
	left: 0px
	background-color: rgba(150,150,150,0.9)
	width: 450px
	text-align: left
	font-weight: bold
	padding: 5px
	border-radius: 5px
	margin: 70px

#datacount
	font-size: 16px
	font-weight: bold

.clrRed
	color: red

.clrBlck
	color: black

  
	
	